  <style>
    body { background-color: #FFCFCA; }
  </style>
<div class="container">
<p id="notice"><%= notice %></p>
  <div class="small-1 columns">&nbsp;</div>
	<div class="small-5 columns">&nbsp;</div>
<h1>List of Flavors</h1>

<%= link_to 'New Flavor', new_flavor_path, :class=> "right" %><br>
<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.name %></td>
        <td><%= flavor.active %></td>
        <td><%= link_to 'Show', flavor %></td>
        <td><%= link_to 'Edit', edit_flavor_path(flavor) %></td>
        <td><%= link_to 'Destroy', flavor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

  <div class="small-1 columns">&nbsp;</div>
	<div class="small-5 columns">&nbsp;</div>
</div>
