<!DOCTYPE html>
<html>
<head>
  <title>Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Dropdown Structure -->
<nav class="navbar-inner">  
    
    <a href="/" id="brand-logo">The A&M Creamery</a>
    <img src="/assets/icon.png" id = "icon" width= 50px height= 50px >
    <ul class="right">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/stores" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/stores"> Store List</a>
          <a class="dropdown-item" href="/stores/new">Add Store</a>
          <a class="dropdown-item" href= "/active"> Active Store List</a>
          <a class="dropdown-item" href="/inactive">Inactive Store List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/employees"> Employees List</a>
          <a class="dropdown-item" href="/employees/new">Add Employees</a>
          <a class="dropdown-item" href= "/active_employees"> Active Employees List</a>
          <a class="dropdown-item" href= "/inactive_employees"> Inactive Employees List</a>
          <a class="dropdown-item" href= "/younger"> 18 or younger</a>
          <a class="dropdown-item" href= "/older"> 18 or older</a>
          <a class="dropdown-item" href= "/regulars"> Employees</a>
          <a class="dropdown-item" href= "/managers"> Managers</a>
          <a class="dropdown-item" href= "/admins"> Admins</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assignments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/assignments"> Assignments List</a>
          <a class="dropdown-item" href="/assignments/new">Add Assignments</a>
          <a class="dropdown-item" href= "/current"> Current Assignments</a>
          <a class="dropdown-item" href= "/past"> Past Assignments</a>
        </div>
      </li>
    </ul>

</nav>

    <div class="center">
      <!-- MAIN CONTENT GOES HERE -->
      <%= yield %> 
    </div>


  </div>
  <footer>
   
      <div class="center">
        <%= render partial: 'partials/footer' %>
      </div> 
    
  </footer> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>
  <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
<% end %>
</html>

